ul#menu li {
  display: inline-block;
  background-color: #000000;
  border-radius: 20px;
  padding: 8px 20px;
  margin-right:  15px;
  /* color: #0a2a5e */
}
#menu {
  display: block;
  position: fixed;
  justify-content: center;
  color: #000000;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 30px;
  top: 0;
  width: 100%;
  background-color: rgb(22, 34, 45, 0.5 );
  backdrop-filter: blur(15px);
  overflow: hidden;
  z-index: 1;
  margin: 0 auto;
}

#cart{
  float: right;
}

:global(#menu a.active) {
  color: #ff9900;
}

